asgiref==3.8.1
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
cryptography==44.0.3
Django==5.2
django-allauth==65.7.0
django-extensions==4.1
gunicorn==23.0.0
idna==3.10
load-dotenv==0.1.0
MarkupSafe==3.0.2
packaging==25.0
pycparser==2.22
pyOpenSSL==25.0.0
python-dotenv==1.1.0
requests==2.31.0
sqlparse==0.5.3
typing_extensions==4.13.1
urllib3==2.4.0
Werkzeug==3.1.3
