{% extends 'base.html' %}

{% block title %}Assign Skills to User{% endblock %}

{% block content %}
<h1>Assign Skills to User</h1>

<!-- User Form (first name and last name) -->
<form method="POST" action="">
    {% csrf_token %}
    <!-- User data will be provided through Slack OAuth -->


    <!-- Skills List -->
    <div class="form-group">
        <label for="skills">Skills</label>
        <div class="overflow-auto" style="max-height: 400px;">
            <ul class="list-group">
                {% for skill in skills %}
                    <li class="list-group-item bg-dark text-light">
                        <input type="checkbox" name="skills" value="{{ skill.id }}" id="id_skills_{{ skill.id }}">
                        <label for="id_skills_{{ skill.id }}">{{ skill.name }}</label>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Submit</button>
</form>

<!-- Search Box for Filtering Skills (GET method) -->
<form method="GET" action="" class="mt-4">
    <div class="form-group">
        <label for="search">Search Skills</label>
        <input type="text" id="search" name="search" value="{{ query }}" class="form-control mb-3" placeholder="Search skills...">
        <button type="submit" class="btn btn-secondary mt-2">Search</button>
        <a href="{% url 'city_form' %}" class="btn btn-outline-info mt-2 ms-2">Change City</a>
    </div>
</form>

{% endblock %}
